# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [80]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [85]:
#Read and clean up the csv
cities = pd.read_csv('../output_data/cities_final.csv')
#cities = cities.drop(["Unnamed: 0"], axis=1)
cities

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bluffton,32.24,-80.86,6.67,93,90,3.60,US,1608196116
1,1,Mataura,-46.19,168.86,12.22,83,96,1.79,NZ,1608196117
2,2,Albany,42.60,-73.97,-7.78,76,100,0.45,US,1608196118
3,3,Jinchang,38.50,102.17,-6.79,80,100,0.71,CN,1608196121
4,4,Punta Arenas,-53.15,-70.92,6.67,70,100,6.70,CL,1608196089
...,...,...,...,...,...,...,...,...,...,...
586,586,Darhan,49.49,105.92,-16.24,88,1,2.43,MN,1608196882
587,587,Semey,50.41,80.23,-14.00,77,0,3.00,KZ,1608196883
588,588,Arrondissement de Toul,48.67,5.92,9.00,93,0,4.10,FR,1608196884
589,589,Mabay,6.06,124.47,28.00,74,90,1.00,PH,1608196886
590,590,Kâhta,37.79,38.62,11.00,76,0,2.10,TR,1608196887

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [86]:
#Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [102]:
# Store 'Lat' and 'Lng' into  locations and convert Lat, Lng, Humidity to float 
city_locations = cities[["Lat", "Lng"]].astype(float)
city_humidity = cities["Humidity"].astype(float)

#Create heatmap layer
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(figure_layout)
heat_layer = gmaps.heatmap_layer(city_locations, weights=city_humidity, dissipating=False, max_intensity=100, point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [89]:
#Narrow down the DataFrame to ideal weather conditions
ideal_weather = cities.loc[(cities["Max Temp"] >= 20) & (cities["Max Temp"] <= 30) & (cities["Cloudiness"]==0) & 
                           (cities["Wind Speed"] < 10)]
ideal_weather = ideal_weather.dropna(how='any')
ideal_weather.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Cape Town,-33.93,18.42,22.22,56,0,9.30,ZA,1608196127
12,12,Rikitea,-23.12,-134.97,24.68,76,0,5.38,PF,1608196132
21,21,Saint-Philippe,-21.36,55.77,29.00,70,0,8.70,RE,1608196145
37,37,Busselton,-33.65,115.33,25.00,47,0,2.24,AU,1608196164
115,115,Nizwá,22.93,57.53,25.48,20,0,2.94,OM,1608196269

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [90]:
hotel_df = ideal_weather
hotel_df["Hotel Name"] = ""
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
8,8,Cape Town,-33.93,18.42,22.22,56,0,9.30,ZA,1608196127,
12,12,Rikitea,-23.12,-134.97,24.68,76,0,5.38,PF,1608196132,
21,21,Saint-Philippe,-21.36,55.77,29.00,70,0,8.70,RE,1608196145,
37,37,Busselton,-33.65,115.33,25.00,47,0,2.24,AU,1608196164,
115,115,Nizwá,22.93,57.53,25.48,20,0,2.94,OM,1608196269,

In [91]:
# List to store requested hotel name
hotels = []
# define parameters
params = { 
    "radius": 5000, 
    "type": "lodging",
    "key": g_key
}
# Loop through the cities_pd and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    
    latit = row["Lat"]
    long = row["Lng"]
    
    # update location key value
    params["location"] = f"{latit}, {long}"
    
    #Google nearby search url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    #print(json.dumps(response, indent=4, sort_keys=True))
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        #hotels.append(response["results"][0]["name"])
    except (IndexError):
        print("Missing field... skipping.")

Missing field... skipping.
Missing field... skipping.

In [98]:
#Check populated DF
hotel_df
#remove blank/null values
hotel_df = hotel_df.dropna(how='any', axis=0)
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
8,8,Cape Town,-33.93,18.42,22.22,56,0,9.30,ZA,1608196127,Southern Sun Waterfront Cape Town
12,12,Rikitea,-23.12,-134.97,24.68,76,0,5.38,PF,1608196132,Pension Maro'i
21,21,Saint-Philippe,-21.36,55.77,29.00,70,0,8.70,RE,1608196145,"Chambres d'hôte ""La Trinité"""
37,37,Busselton,-33.65,115.33,25.00,47,0,2.24,AU,1608196164,Observatory Guest House
115,115,Nizwá,22.93,57.53,25.48,20,0,2.94,OM,1608196269,Orient Apartments

In [106]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [104]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, hotel_info)
#info_box_content=[f"Hotel name: {hotel_df["Hotel Name"]}" for row in hotel_df]
# Add the layer to the map
fig.add_layer(heat_layer) 
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))