# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [80]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [85]:
#Read and clean up the csv
cities = pd.read_csv('../output_data/cities_final.csv')
#cities = cities.drop(["Unnamed: 0"], axis=1)
cities

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bluffton,32.24,-80.86,6.67,93,90,3.60,US,1608196116
1,1,Mataura,-46.19,168.86,12.22,83,96,1.79,NZ,1608196117
2,2,Albany,42.60,-73.97,-7.78,76,100,0.45,US,1608196118
3,3,Jinchang,38.50,102.17,-6.79,80,100,0.71,CN,1608196121
4,4,Punta Arenas,-53.15,-70.92,6.67,70,100,6.70,CL,1608196089
...,...,...,...,...,...,...,...,...,...,...
586,586,Darhan,49.49,105.92,-16.24,88,1,2.43,MN,1608196882
587,587,Semey,50.41,80.23,-14.00,77,0,3.00,KZ,1608196883
588,588,Arrondissement de Toul,48.67,5.92,9.00,93,0,4.10,FR,1608196884
589,589,Mabay,6.06,124.47,28.00,74,90,1.00,PH,1608196886
590,590,Kâhta,37.79,38.62,11.00,76,0,2.10,TR,1608196887

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [86]:
#Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [87]:
# Store 'Lat' and 'Lng' into  locations and convert Lat, Lng, Humidity to float 
city_locations = cities[["Lat", "Lng"]].astype(float)
city_humidity = cities["Humidity"].astype(float)

#Create heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(city_locations, weights=city_humidity, dissipating=False, max_intensity=100, point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [89]:
#Narrow down the DataFrame to ideal weather conditions
ideal_weather = cities.loc[(cities["Max Temp"] >= 20) & (cities["Max Temp"] <= 30) & (cities["Cloudiness"]==0) & 
                           (cities["Wind Speed"] < 10)]
ideal_weather = ideal_weather.dropna(how='any')
#ideal_weather = ideal_weather.reset_index()
ideal_weather.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Cape Town,-33.93,18.42,22.22,56,0,9.30,ZA,1608196127
12,12,Rikitea,-23.12,-134.97,24.68,76,0,5.38,PF,1608196132
21,21,Saint-Philippe,-21.36,55.77,29.00,70,0,8.70,RE,1608196145
37,37,Busselton,-33.65,115.33,25.00,47,0,2.24,AU,1608196164
115,115,Nizwá,22.93,57.53,25.48,20,0,2.94,OM,1608196269

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [90]:
hotel_df = ideal_weather
hotel_df["Hotel Name"] = ""
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
8,8,Cape Town,-33.93,18.42,22.22,56,0,9.30,ZA,1608196127,
12,12,Rikitea,-23.12,-134.97,24.68,76,0,5.38,PF,1608196132,
21,21,Saint-Philippe,-21.36,55.77,29.00,70,0,8.70,RE,1608196145,
37,37,Busselton,-33.65,115.33,25.00,47,0,2.24,AU,1608196164,
115,115,Nizwá,22.93,57.53,25.48,20,0,2.94,OM,1608196269,

In [91]:
# List to store requested hotel name
hotels = []
# define parameters
params = { 
    "radius": 5000, 
    "type": "lodging",
    "key": g_key
}
# Loop through the cities_pd and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    
    latit = row["Lat"]
    long = row["Lng"]
    
    # update location key value
    params["location"] = f"{latit}, {long}"
    
    #Google nearby search url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    #print(json.dumps(response, indent=4, sort_keys=True))
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        #hotels.append(response["results"][0]["name"])
    except (IndexError):
        print("Missing field... skipping.")

Missing field... skipping.
Missing field... skipping.

In [94]:
#Check populated DF
hotel_df
#remove blank/null values
hotel_df = hotel_df.dropna(how='any', axis=0)
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
8,8,Cape Town,-33.93,18.42,22.22,56,0,9.30,ZA,1608196127,Southern Sun Waterfront Cape Town
12,12,Rikitea,-23.12,-134.97,24.68,76,0,5.38,PF,1608196132,Pension Maro'i
21,21,Saint-Philippe,-21.36,55.77,29.00,70,0,8.70,RE,1608196145,"Chambres d'hôte ""La Trinité"""
37,37,Busselton,-33.65,115.33,25.00,47,0,2.24,AU,1608196164,Observatory Guest House
115,115,Nizwá,22.93,57.53,25.48,20,0,2.94,OM,1608196269,Orient Apartments
125,125,Verāval,20.90,70.37,27.95,43,0,1.80,IN,1608196281,Lords Inn Somnath
137,137,Puerto Madero,14.72,-92.42,24.09,75,0,1.68,MX,1608196297,Hotel La Central
143,143,Salalah,17.02,54.09,28.00,45,0,3.10,OM,1608196307,HAMDAN PLAZA HOTEL
154,154,Tsabong,-26.02,22.40,29.91,37,0,4.94,BW,1608196323,Springbok Motel
185,185,Bhola District,22.68,90.65,26.40,42,0,4.40,BD,1608196362,Hotel Asia
198,198,Saint-Pierre,-21.34,55.48,29.00,70,0,8.70,RE,1608196378,Lindsey Hôtel
218,218,Katihar,25.53,87.58,25.77,31,0,6.58,IN,1608196324,Hotel Deluxe
220,220,Hithadhoo,-0.60,73.08,27.75,76,0,5.28,MV,1608196404,Scoop Guest House
233,233,Puerto Escondido,15.85,-97.07,24.09,71,0,1.79,MX,1608196420,Aldea del Bazar Hotel and Spa
242,242,Saldanha,-33.01,17.94,23.00,75,0,7.70,ZA,1608196434,Blue Bay Lodge
255,255,Faya,18.39,42.45,21.00,28,0,2.10,SA,1608196454,مقبرة ال مجمل
259,259,Esperance,-33.87,121.90,20.00,49,0,8.20,AU,1608196458,Hospitality Esperance
263,263,Sur,22.57,59.53,23.43,48,0,3.16,OM,1608196463,Sur Plaza Hotel
278,278,Salina Cruz,16.17,-95.20,22.91,69,0,7.73,MX,1608196481,Amerik HOTEL
279,279,Taoudenni,22.68,-3.98,22.24,20,0,0.86,ML,1608196482,
288,288,Hukuntsi,-24.00,21.75,28.66,38,0,5.21,BW,1608196495,Entabeni Hotel
315,315,Ibrā’,22.69,58.53,25.72,18,0,2.55,OM,1608196528,مزرعة راحة النفوس المنزفة
328,328,Myitkyina,25.38,97.40,26.50,41,0,0.99,MM,1608196295,Shwe Phyu Hotel
356,356,Vīsāvadar,21.38,70.68,29.37,26,0,3.85,IN,1608196479,Brahmanad Dham Guest House
359,359,Ramnagar,29.40,79.12,20.17,24,0,2.82,IN,1608196464,Leisure Vacation Myrica Hotel
371,371,Ghansor,22.65,79.95,25.00,53,0,3.10,IN,1608196599,A1 tuition center
426,426,Najrān,17.49,44.13,23.00,14,0,2.10,SA,1608196672,محمد هادي ال فطيح
458,458,La Plata,-34.92,-57.95,20.00,89,0,1.34,AR,1608196665,Hotel Corregidor
474,474,Bilma,18.69,12.92,22.67,22,0,4.99,NE,1608196574,Expeditions Ténére voyages
476,476,Riyadh,24.69,46.72,22.00,28,0,3.60,SA,1608196506,InterContinental Riyadh
497,497,Mindif,10.40,14.44,29.22,16,0,4.80,CM,1608196767,
526,526,Khirkiya,22.17,76.86,27.07,38,0,3.66,IN,1608196804,Sanjay Industries
527,527,Porto Velho,-8.76,-63.90,24.00,94,0,0.46,BR,1608196543,Hotel Vila Rica Porto Velho
543,543,Bahraich,27.58,81.60,21.02,23,0,4.75,IN,1608196826,Narain Guest House
579,579,Chātakonda,17.55,80.65,29.92,48,0,2.41,IN,1608196872,Hotel Surya Palace

In [95]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [96]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))